.pop_up_container{
  font-size:small;
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color:rgb(0,0,0,0.5);
  padding:15px;
}

.pop_up_content{
  width:90%;
  height:90%;
  background-color: white;
  margin:auto;
  padding:10px;
  align-self: left;
}

.showmore{
  margin-top:10px;
  text-align:center;
  border-radius:20px;
  background-color:blue;
  color:white;
  border : none;
  width:100px;
  height:25px;
  text-align: center;
  justify-content: center;
}

.search_btn{
  border-radius: 25px;
  color:white;
  background-color: blue;
  margin:20px
}

.btns{
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin-top:25px;
}

.btn{
  margin-left:10px;
  border:none;
  background-color: rgb(114, 189, 21);
  border-radius : 25px;
  width:25px;
  height:25px;
}

.post{
  box-shadow:0 5px 10px rgba(0,0,0,0.5);
  width:95%;
  height:95%;
  background-color:white;
  margin:20px;
  border-radius:5px;
  box-sizing:border-box;
  position:relative;
  padding:10px; 
}

.input_fld{
  text-align: center;
}

.show{
  text-align:center;
}

body{
  background-color: rgb(155, 213, 213);
}

.not_found{
  color:red;
  text-align: center;
}