.container{
  margin:auto;
  width:100%;
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
}

.storage{
  background-color:rgb(140, 207, 237);
}

.book{
  box-shadow:0 5px 10px rgba(0,0,0,0.5);
  width:700px;
  height:100%;
  background-color:white;
  margin:20px;
  border-radius:5px;
  box-sizing:border-box;
  position:relative;
  padding:10px;
}

.searchBox{
  margin-top:10px
}

.cover{
  margin:10px;
}

.showmore{
  margin-top:20px;
  text-align:center;
  border-radius:10px;
  background-color:blue;
  color:white;
  border : none
}

.btns{
  margin-top:20px
}

.btn{
  margin:5px;
}

.search_btn{
  border-radius: 25px;
  color:white;
  background-color: blue;
  margin-left:10px
}

.pop_up_container{
  font-size:small;
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color:rgb(0,0,0,0.5);
  padding:15px;
}

.pop_up_content{
  width:90%;
  height:90%;
  background-color: white;
  margin:auto;
  padding:10px;
}